@import url('resete.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray-primary: #AAAAAA;
    --gray-secundary: #f0f0f0;
    --gray-tertiary: #f5f5f5;
    --gold: #FFBD59;
    --blue: #97cde9;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

link[rel="shortcut icon"] {
    border-radius: 50%;
}

.botao:hover {
    color: var(--white);
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header {
    background-color: var(--blue);
    height: 35px;

    justify-content: space-between;

}

header p {
    color: var(--black);
    font-size: 12px;
}

header>div {
    display: flex;
    gap: 30px;
    margin: 0 40px;
} */

.icon-oculos {
    margin-right: 10px;
}

p {
    color: var(--black);
}

/* section segunda barra */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--blue);
    gap: 40px;
    height: 85px;
}

.segunda-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--blue);
    gap: 40px;
    height: 85px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo img {
    width: 70px;
}

.logo p {
    font-weight: bold;
    font-size: 20px;
    font-weight: 900;
}

.icon-social-media img {
    width: 200%;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--gray-secundary);
    border: 1px solid var(--gray-secundary);
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    /* max-width: 500px; */
    height: 35px;
    transition: width 0.3s ease;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: var(--gray-secundary);
}

.search-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/icons/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 1024px) {
    .search-bar {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .search-bar {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .search-bar {
        width: 30%;
    }
}

.login {
    font-size: 12px;
    width: 110px;
    font-weight: bold;
}

.login p {
    color: var(--black);
}

.login img {
    fill: var(--gray-secundary);
    stroke: var(--black);
}

.search-place {
    font-size: 12px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.like,
.bag {
    width: 25px;
    height: 25px;
    /* margin-left: 10px; */
    cursor: pointer;
}


/* lista de opceoes */
.lista-opcoes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.lista-opcoes ul {
    display: block;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.lista-opcoes ul li {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    text-decoration: none;
    color: var(--black);
    padding: 12px 30px;
    transition: all 0.3s ease;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.lista-categorias :hover {
    background-color: var(--gray-tertiary);
}

.selecionado {
    background-color: var(--gray-tertiary);
}


/* lista de oculos */
.resultado-busca {
    display: flex;
    justify-content: center;
    flex: 1;
    /* min-height: calc(100vh - 50px); */
    align-items: center;
}

/* .lista-itens {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.titulo p {
    font-size: 20px;
    font-family: Druk-Bold, sans-serif;
}

.itens {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.item {
    background: #fff;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 10px;
    max-width: 250px;
    display: grid;
}

.item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid var(--gray-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icone-like {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

.marcado path {
    fill: #E91E63;
}

.imagem-produto {
    width: 100%;
    max-width: 240px;
    height: auto;
}

.descricao-produto {
    text-transform: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--black);
    margin: 5px auto;
}

.precos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.preco-antigo {
    font-size: 14px;
    line-height: 16px;
    color: #9c9c9c;
    font-weight: 400;
}

.preco-novo {
    padding: 0 5px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.parcelado {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    margin-bottom: 20px;
}


/* Estilo para o rodapé */
.rodape {
    margin-top: 30px;
    background-color: var(--blue);
    padding: 20px;
    text-align: center;
    display: grid;
    gap: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.link-topo {
    color: var(--black);
    font-size: 12px;
    text-decoration: underline;
    margin-right: 20px;
}

.logo-footer>p {
    font-weight: bold;
    font-size: 20px;
    font-weight: 900;
    color: var(--black);
}

.redes-sociais a {
    margin-right: 10px;
}

.redes-sociais img {
    width: 30px;
    height: 30px;
}


/* descricao */
.style1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 30px;
}

.style2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.style3 {
    font-weight: bold;
    max-width: 540px;
}

.style4 {
    color: var(--black);
    font-size: 12px;
    text-decoration: underline;
}

.style5 {
    color: #cb333b;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: line-through;
}

.style6 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}

.style7 {
    font-size: 15px;
    font-style: normal;
}

.style8 {
    display: block;
    color: #fff;
    width: 80%;
    margin: 30px auto 0px;
    font-size: 12px;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    border-radius: 4px;
    text-transform: lowercase;
    text-decoration: none;
    background-color: #00913d;
    cursor: pointer;
}

.style9 {
    display: flex;
    margin: 30px 20px;
    gap: 10px;
}

.style10 {
    color: #aaa;
    font-size: 10px;
    text-transform: uppercase;
}

.style11 {
    color: #aaa;
    font-size: 10px;
    text-transform: uppercase;
}

.style12 {
    color: #aaa;
    font-size: 10px;
    text-transform: uppercase;
}

.style13 {
    background-color: #f5f5f5;
    display: flex;
    padding: 50px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.style14 {
    margin-right: 20px;
    max-width: 600px;
}

.style15 {
    font-weight: bold;
    width: 540px;
    font-size: 28px;
    text-transform: uppercase;
    /* max-width: 190px; */
    margin-bottom: 30px;
}

.style16 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    outline: 0;
    font-size: 12px;
    gap: 10px;
    display: grid;
}

.style17 {
    margin-left: 20px;
}

.style18 {
    font-weight: bold;
    width: 540px;
    font-size: 28px;
    text-transform: uppercase;
    /* max-width: 190px; */
    margin-bottom: 30px;
}

.especificacoes-grid {
    display: flex;
    gap: 20px;
}

.especificacoes-tipo {
    gap: 10px;
    display: grid;
}

.especificacoes-tipo p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    outline: 0;
    font-size: 12px;
    font-weight: bold;
}

.especificacoes-info {
    gap: 10px;
    display: grid;
}

.especificacoes-info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    outline: 0;
    font-size: 12px;
}

.menu {
    display: none;
}

#glass {
    position: absolute;
    /* border-radius: 50%; */
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
}

@media only screen and (max-width: 768px) {

    button.prev,
    button.next {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .thumbs {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .logo img {
        display: none;
    }

    .header {
        display: flex;
        background-color: var(--blue);
        padding: 0px;
        gap: 0px;
        height: 85px;
        align-items: center;
        justify-content: space-around;
    }

    .segunda-barra {
        gap: 0px;
        height: 145px;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .search-bar {
        grid-column: 1 / 4;
    }

    .container-like {
        grid-column: 3 / 3;
        grid-row: 1;
    }



    .menu {
        display: block;
        grid-column: 1 / 1;
        grid-row: 1;
    }

    .lista-opcoes ul {
        display: none;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        z-index: 110;
        background-color: white;
        width: 100%;
        top: 70px;
        border: 1px solid black;
    }

    .item {
        max-width: 150px;
    }



    .style1 {
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }

    .imagem-container img {
        width: 450px;
    }

    .style2 {
        align-items: center;
        text-align: center;
    }

    .style8 {
        position: fixed;
        bottom: 10px;
        width: 96%;
        z-index: 100;
    }

    .style13 {
        padding: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .style17 {
        margin-left: 0px;
    }

    .style15 {
        max-width: 190px;
    }

    .style18 {
        max-width: 190px;
    }
}

img {
    max-width: 100%;
}

.imagem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.texto-container {
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.product_images {
    /* float: left; */
    width: 50%;
    margin: 10px 25%;
    padding: 30px;
    background: #fff;
    box-shadow: 5px 2x #ccc
}

.product_images h1 {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.thumbs {
    /* float: left;  */
    display: flex;
    justify-content: center;
    width: 50%;
    /* height: 20%; */
    margin-top: 10px;
    padding: 2.5px;
    background: #eee;
}

.thumbs img {
    float: left;
    width: 20%;
    padding: 2.5px;
    background: #eee;
    cursor: pointer;
}

.thumbs img:hover,

.thumbs img.active {
    background: #99ccff;
}

.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-float i {
    margin-top: 16px;
}

/* Efeito de transição */
.whatsapp-float:hover {
    background-color: #22c35e;
    transform: scale(1.1);
    transition: 0.3s;
}






.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
    margin-bottom: 20px;
    /* Altura fixa para o carrossel */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-images img {
    min-width: 100%;
    /* Cada imagem ocupa 100% da largura do contêiner */
    height: 100%;
    object-fit: cover;
    /* Mantém a proporção da imagem sem distorção */
}



button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}